{% extends 'base.html' %}
<!-- <html>
    <body>
        Swachh Worli Koliwada
    </body>
</html> -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% block content %}

    <div class="w3-container" style ="height:fit-content;overflow: hidden;">
              
        <!-- <img src="static/images/SWK_Boats_Sealink1.jpg" class="w3-circle" alt="Swachh Worli Koliwada"
         style="object-fit: fill;"> -->
         <img src="static/images/SWK_Boats_Sealink2.jpg" class="w3-circle" alt="Swachh Worli Koliwada"
         style="width:100%;height:50%;overflow-y: hidden;">
    </div>       
    
{% endblock %}